
body {
    background-image: url("background.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.stl {
    font-family: Arial;
    font-size: 24pt;
    width: 100%;
}

#questMsg {
    color: aquamarine;
    text-align: center;
}

#numVal {
    border-color: black;
    border-width: 1pt;
    width: 50%;
    text-align: center;
}

#EntrBtn {
    width: 10%;
}